* {
    text-align: center;
    padding: auto;
    background-color:#f9b248;
}

img {
    width: 200px;
    height: 300px; 

}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #fc3a52;
    background-color: #0e2431;
}

div {
    background-color: #0e2431;
    margin-left: 100px;
    margin-right: 100px;
   
}

a {
    background-color: #0e2431;
}

h1 {
    color: #fc3a52;
    font-size: 75px;
    background-color: ;
    font-family: 'Anton', sans-serif;
}

h3 {
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    color:#fc3a52;
}

#lastDiv {
    background-color: #f9b248;
    padding-bottom: 50px;
}

label {
    background-color: #f9b248;
    font-size: 25px;
}

select {
    background-color: #e8d5b7;
    font-size: 15px;
}

a:link {
    color: #f9b248;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #fc3a52;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #fc3a52;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #fc3a52;
    background-color: transparent;
    text-decoration: underline;
  }